body {
  margin: 0;
}

#content,
#content2 {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

.fibmenu {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-rows: repeat(16, 1fr);
  grid-template-columns: repeat(16, 6.25vh) auto;
}

.fibmenu-menubtn {
  position: relative;
  grid-row-start: 16;
  grid-row-end: 17;
  grid-column-start: 1;
  grid-column-end: 2;
  align-self: end;
  width: 100%;
  height: 100%;
  min-width: 50px;
  min-height: 50px;
  max-width: 65px;
  max-height: 65px;
  background: black;
}

.fibmenu .fibmenu-hamburger,
.fibmenu .fibmenu-x {
  position: absolute;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  pointer-events: none;
  height: 100%;
  width: 100%;
  padding: 30%;
  transition-property: transform, opacity;
  transition-duration: .3s;
  /* trans   */
}

.fibmenu .fibmenu-x {
  transform: translateX(-100%);
  opacity: 0
}

.fibmenu .fibmenu-hamburger .fibmenu-hamburger-top,
.fibmenu .fibmenu-hamburger .fibmenu-hamburger-middle,
.fibmenu .fibmenu-hamburger .fibmenu-hamburger-bottom {
  height: 4px;
  width: 100%;
  background-color: #fff;
}

.fibmenu .fibmenu-x .fibmenu-x-one {
  position: absolute;
  width: 40%;
  height: 4px;
  background-color: white;
  transform: rotate(45deg)
}

.fibmenu .fibmenu-x .fibmenu-x-two {
  position: absolute;
  width: 40%;
  height: 4px;
  background-color: white;
  transform: rotate(-45deg)
}